@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif !important;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.imgProfile{
    max-width: 34rem;
}

.inicioTecnologia{
    padding: 1rem 5rem 1rem 5rem;
}

.frasesMotivacaoIcon{
    max-width: 20rem;
    border-radius: 25%;
}

.tamanhoImg{
    max-width: 40rem;
}

.iconLinkedin{
    max-width: 7rem;
}

.iconGithub{
    max-width: 4rem;
}

.iconWhatsapp{
    max-width: 4rem;
}

.footer{
    background: #000;
}

@media (max-width: 576px){
    .imgProfile{
        max-width: 23rem;
    }

    .mobileSize{
        margin-bottom: 1.19rem;
        font-size: 1.19rem;
    }

    .tamanhoImg{
        max-width: 23rem;
    }
    
    .textoHistoria{
        font-size: 12px;
    }
}