@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif !important;
    background: linear-gradient(92deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.ladoA{
    height: 100%;
}

.imgProfile{
    max-width: 34rem;
}

.ladoB{
    height: 46.5rem;
    overflow-y: scroll;
}

.tamanhoSesaoLaboB{
    height: 46.5rem
}

.marginTopTexto{
    margin-top: 16rem;
}

.inicioTecnologia{
    padding-top: 1rem;
}

.textoHistoria{
    font-family: 'Roboto', sans-serif;
}

.appIcon{
    max-width: 15rem;
    border-radius: 25%;
}

.tamanhoImg{
    animation: girar 19s linear infinite;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.0s;
    transition: all 0.5s;
    max-width: 31rem;
}

.tamanhoImg:hover{
    animation: girar 13s linear infinite;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    max-width: 31rem; 
}

.iconLinkedin{
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.iconGithub{
    color: #000;
    font-size: 3rem;
}

.iconWhatsapp{
    color: #8dff75;
    font-size: 3rem;
}


@media (max-width: 576px){

    .ladoB{
        display: none;
    }

    .imgProfile{
        max-width: 22rem;
    }

    .mobileSize{
        margin-bottom: 1.19rem;
        font-size: 1.19rem;
    }

    .textoHistoria{
        font-size: 12px;
    }

    .tamanhoImg{
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        max-width: 23rem;
    }
    
    .tamanhoImg:hover{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        max-width: 23rem;
    }
    
    .botaolinguagens{
        margin-top: 8px;
    }
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}